.git
.github
.env
**/.DS_Store
*.tar
*.tar.gz
*.tgz
*.7z
node_modules
**/node_modules
**/frontend/build
**/backend/data/db.json
**/coverage
outputs
ztncui/src/etc/passwd
ztncui/src/etc/storage
ztncui/src/etc/multi-account.json
ztncui/src/etc/tls
